<div id="browser" class="browser">
	<div class="navi"></div>

	<a class="prevPage"></a> 
	<div class="scrollable">		
		<div class="items">
			<% @stories.each do |s| %>
				<%= content_tag(:div, "", :id => "story-#{s.id}", :class => "video-story", :style => "background: url('/images/headshots-small/#{s.image_id}');") %>
			<% end %>
		</div><!-- items -->
	</div><!-- scrollable -->
<a class="nextPage"></a> 
</div>

<%- if 0 && RAILS_ENV == "production" && params[:action] == "browser" # AJAX load -%>
<script type="text/javascript" charset="utf-8">
currentUrl = '<%= "/#{params[:q]}/#{params[:id]}" %>';	
pageTracker._trackPageview(currentUrl);
</script>
<%- end -%>
