<div class="static">
<h1>About Stories of Health</h1>

<p>After spending an afternoon hearing about emergency room visists, people getting dropped by their insurance companies, losing money, family members and even homes, we were inspired.</p>

<p>We knew that if these stories were heard — that if you watched something more dramatic than a squirrel — you’d understand just how badly this country needs real health care.</p>
	
<p>Please shared these stories with your friends. Email them; tweet them; post them to your Facebook wall; project them on the sides of buildings.</p>

<p>Please <a href="/action">help reform health care in the United States</a>. Whether it’s a phone call, email, office visit to a congressperson or conversation with your friend, every little bit helps.</p>
	
<h2>Who made this</h2>
<p>Stories of Health was created by Stanford Williams and <a href="http://paulschreiber.com/">Paul Schreiber</a>.</p>

<h2>Contact us/Press</h2>
<p>For more information, including media inquiries, email <a href="#" onclick="window.location='mailto:info@'+'storiesofhealth.org?subject=Stories%20of%20Health';">info @ storiesofhealth.org</a>.</p>

<h2>Acknowledgements</h2>
<p>Thank you first and foremost to our storytellers. Thank you so much for opening up to us and sharing something so personal.</p>

<p>This project couldn't have been done without the help and generosity of many others. The logo was created by <a href="http://realnotreal.org/">Carter Millican</a>. Special thank-yous to <a href="http://metoca.net/">Peter Gulezian</a> for the tripod, Todd Dailey for the camera, <a href="http://owenimagery.com/">Aaron Owen</a> for the 30-minute Final Cut lesson, <a href="http://farukat.es/">Faruk Ateş</a> for the design comp and <a href="http://www.davidevanharris.com/">David Evan Harris</a> and <a href="http://www.alevin.com/">Adina Levin</a> for advice. I did much of the editing on my housemate <a href="http://quikchange.net/">Tony D’Souza</a>’s monitor.</p>

<p>Stories of Health was created in <a href="http://www.adobe.com/products/photoshop/photoshop/">Photoshop</a>, <a href="http://www.apple.com/finalcutstudio/finalcutpro/">Final Cut Pro</a> and <a href="http://macromates.com/">TextMate</a>. It’s powered by <a href="http://rubyonrails.org/">Ruby on Rails</a>, <a href="http://jquery.com/">jQuery</a>, <a href="http://flowplayer.org/tools/scrollable.html">Sortable</a>, <a href="http://www.modrails.com/">Passenger</a>, <a href="http://www.apache.org/">Apache</a> and <a href="http://www.ubuntu.com/">Ubuntu</a>.</p>

<h2>Copyright</h2>
<p>Stories of Health is &copy; 2009 Paul Schreiber and Stanford Williams. The HTML, CSS, JavaScript, layout and text content are licensed under a <a href="http://creativecommons.org/licenses/by-nc/3.0/us/">Creative Commons Attribution-Noncommercial 3.0 United States License</a>. We retain full rights to the videos and logo.</p>
</div>