<div class="static">
<h1>Help reform health care</h1>

<p>Several groups are working to provide meaningful health care reform in the United States:</p>
<ul>
	<li><a href="http://www.barackobama.com/">Organzing for America</a> (check out OFA’s <a href="http://healthcare.barackobama.com/">Health Care Action Center</a>)</li>
	<li><a href="http://www.moveon.org/">MoveOn</a></li>
	<li><a href="http://www.democracyforamerica.com/">Democracy for America</a></li>
	<li><a href="http://healthcareforamericanow.org/">Health Care for America Now!</a></li>
	<li><a href="http://prescriptionforchange.org/">Consumers Union</a></li>
</ul>

<p>Join their mailing lists. Attend their events.</p>

<p><a href="http://www.whitehouse.gov/realitycheck/">Get the facts about health insurance reform</a> from the White House.</p>

<p>Call <a href="http://www.house.gov/">your congressperson</a> and <a href="http://www.senate.gov/">senators</a>.</p>
	
<p>Canvass. Talk to your friends and neighbors. Write a letter to the editor of your local paper.</p>

<h2>Help Stories of Health</h2>

<p>Want to support Stories of Health? We’d love your help. If you can edit video, transcribe stories or promote the site, let us know. Have gear (camera, lights, green screen) to loan us or want to help interview storytellers? Email us at <a href="#" onclick="window.location='mailto:info@'+'storiesofhealth.org?subject=I%20Want%20to%20help';">info @ storiesofhealth.org</a>.</p>

</div>