<div class="static">
<h1>Share your health care story</h1>

<p>What was your experience with the health care system?</p>

<p>Were you denied coverage you were due? Lose your insurance?</p>

<p>Did you have to go to the emergency room?</p>

<p>Did someone in your family declare bankruptcy because of medical bills?</p>

<p>Did you have to choose between buying food and seeing the doctor?</p>

<h2>Talk to us</h2>
<p>Email us at <a href="#" onclick="window.location='mailto:info@'+'storiesofhealth.org?subject=My%20Health%20Care%20Story';">info @ storiesofhealth.org</a>.</p>


</div>