<div class="static">
<h1>Stories of Health trailers</h1>

<p>We&rsquo;re really excited to have terrific videos showcasing our storytellers. Please share these with your friends.</p>

<h2>30-second videos</h2>

<div class="trailer"><%= object_tag(@trailer_list[0]) %></div>
<div class="trailer"><%= object_tag(@trailer_list[1]) %></div>

<h2>90-second videos</h2>

<div class="trailer"><%= object_tag(@trailer_list[2]) %></div>
<div class="trailer"><%= object_tag(@trailer_list[3]) %></div>

</div>